<h1><%=@heroine.name%></h1>
<h2><%=@heroine.super_name%></h2>
# <h3><%=@heroine.power_id%></h3>
<% @powers.each do |power| %>
    <%if power.id == @heroine.power_id %>
<h2>Here Power Is:</h2> 
<li><a href="/powers/<%=@power_id%>"> <%=power.name %> </a></li> 

<% end %>
<% end %>




